.question-container {
    border-radius: 30px;
    border: #4D6CFA 2px solid;
    width: 350px;
    height: 510px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
    color: #1b1b1b;

}

.question-title {
    line-height: 80px;
    width: 350px;
    text-align: center;
    background-color: #4D6CFA;
    color: #FFCE80;
    font-weight: bold;
    font-size: x-large;
    height: 80px;
    letter-spacing: 2px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;    
}

.question {
    font-weight: bold;
    padding: 15px;
}

.question-form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    width: 350px;
    justify-items: center;
    margin: 40px 0;
}

.next-button {
    background-color: #FFCE80;
    color: #4D6CFA;
    border-radius: 100px;
    border: none;
    width: max-content;
    padding: 5px 50px;
    font-weight: bold;
}

.next-button:hover {
    color: #FFCE80;
    background-color: #4D6CFA;
}

.answer-input{
    accent-color: #4D6CFA;
    transform: translate(-0.1rem, 0.1rem);
    width: 8pt;
}
